table {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #252525;
}
th {
    background-color: #4a96f8;
}
td:first-child {
    font-weight: bold;
}
tbody tr td:first-child {
    white-space: nowrap;
} 